<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="css/style.min.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <meta name="description" content="MyCityLawyer — юридична компанія"> 
    <meta name="keywords" content="юридична компанія"> 

    <meta property="og:title" content="MyCityLawyer — юридична компанія" />
    <meta property="og:description" content="MyCityLawyer — юридична компанія" />
    <meta property="og:image" content="./images/home-page/my-city/my-city-bg.jpg" />

    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="150x150" href="./images/favicon/mstile-150x150.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./images/favicon/site.webmanifest">
    <link rel="mask-icon" href="./images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>MyCityLawyer</title>
  </head>
  <body>
    <div class="wrapper">
        <header class="header haeder-main">
        <div class="container">
                <div class="header-row">
                    <div class="header-logo">
                        <a class="header-logo__link" href="index.html">
                            <img class="header-logo__img lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="./images/icons/logo.svg" alt="Logo" width="138" height="40"/>
                        </a>
                    </div>
                    <nav class="header-nav">
                        <ul>
                            <li><a href="index.html">Головна</a></li>
                            <li><a href="about.html">Про нас</a></li>
                            <li><a href="solutions.html">Рішення</a></li>
                            <li><a href="addListing.html">Додати список</a></li>
                            <li><a href="find.html">Знайдіть юриста</a></li>
                            <li><a href="contactUs.html">Контакти</a></li>
                        </ul>
                    </nav>
                    <div class="header-login">
                        <a href="#" class="btn">
                            <img class="btn__img lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="./images/icons/user.svg" alt="User"  width="14" height="16"/>
                            Увійти
                        </a>
                    </div>
                    <button class="mobile-nav-button" type="button" aria-label="Menu button">
                        <span class="mobile-nav-button__icon"></span>
                    </button>
                </div>
        </div>
        </header>

    <div class="mobile-nav">
        <img class="mobile-nav-logo lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="./images/icons/logo.svg" alt="Logo" width="138" height="40"/>

        <nav class="mobile-nav-list">
            <ul>
                <li><a href="index.html">Головна</a></li>
                <li><a href="about.html">Про нас</a></li>
                <li><a href="solutions.html">Рішення</a></li>
                <li><a href="addListing.html">Додати список</a></li>
                <li><a href="find.html">Знайдіть юриста</a></li>
                <li><a href="contactUs.html">Контакти</a></li>
            </ul>
        </nav>

        <div class="mobile-login">
            <a href="#" class="btn btn-big">
                <img class="btn__img lazy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="./images/icons/user.svg" alt="User" width="14" height="16"/>
                Увійти
            </a>
        </div>
    </div>

